.hero-media {
  position: absolute;
  inset: 0 50% 0 0;
}

.hero-media.image-right {
  inset: 0 0 0 50%;
}

.hero-media > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 760px) {
  .hero-media {
    inset: 0;
  }

  .hero-media.image-right {
    inset: 0;
    opacity: 0.5;
  }

  .hero-media.image-left > img {
    object-position: 38% center;
  }

  .hero-media.image-right > img {
    object-position: center;
  }
}
